@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@layer components {
    .font-Anton{
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .font-Alfa{
        font-family: "Alfa Slab One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .ProfileViewDiv1 > div{
        @apply shadow-xl p-1 rounded-sm bg-white bg-opacity-[0.02] gap-2 text-sm
    }
    .ProfileViewDiv1 > div > p{
        @apply text-Yellow
    }

    .StationsDiv1 > p{
        @apply bg-white/5 text-Yellow rounded-md px-4 py-2 transition-all hover:scale-105 cursor-default
    }

    .ClipStar{
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    .ComunidadeDiv1{
        @apply mt-[2em]
    }
    .ComunidadeDiv1 > h1{
        @apply text-Yellow
    }
    .ComunidadeDiv1 > p{
        @apply ml-[1em]
    }
}